{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}